POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
FLASK_ENV=
DBHOST=
TEST_POSTGRES_DB=
DEBUG=False
FLASK_APP=run.py
TEST_DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DBHOST:5432/$TEST_POSTGRES_DB
PYTHONDONTWRITEBYTECODE=True
SECRET_KEY=''
DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DBHOST:5432/$POSTGRES_DB